.main{
    display: flex;
    gap: 10rem;
    justify-content: space-evenly;
}
.flipkartlogo{
    width: 8rem;
    height: 7rem;
    
}
.searchproduct{
    margin-top: 2rem;
    padding-right: 10rem;
    
    border-radius: 25px;
    background-color: rgba(81, 89, 176, 0.582);
    border-color: aqua;
    
}
.flex{
    display: flex;
    gap: 5rem;
    margin-top: 20px;
    font-size: 2rem;
    list-style: none;
    
}
.navbar{
    background-color: rgba(218, 226, 243, 0.388);
}
.searchbox{
    height: 5px
}
